* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
}
#main {
    height: 100%;
    width: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.page{
    height: 100%;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap:normal;
}
a{
    text-decoration: none;
}
#page1{
    display: flex;
    background: teal;
    color: aliceblue;
}
#heading{
    height: 10%;
    width: 100%;
    position: fixed;
    justify-content: center;
    display: flex;
    align-items: center;
    z-index: 10;
}
#nav{
    margin-top: 15px;
    height: 75%;
    background: transparent;
    backdrop-filter: blur(10px);
    border-radius: 15px;
    text-align: center;
    justify-content: space-around;
    display: flex;
    align-items: center;
    width: 70%;
    box-shadow: 0px 0px 3px 8px gray;
}
.text{
    color: white;
    font-weight: bold;
    position: relative;
    text-decoration: none;
    padding-bottom: 7px;
    padding: 10px;
    border-radius: 4px;
}
.text:hover{
    text-decoration: overline black;
}
#page1-box1{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#intro{
    height: 70%;
    width: 80%;
    margin-top: 150px;
    margin-left: 150px;
}
#intro p{
    line-height: 1.6;
}
#page1 h2{
    margin-top: 40px;
    margin-right: 250px;
}
#page1 p{
    margin-top: 10px;
}
span{
    color: rgb(98, 209, 209);
    font-size: xx-large;
}
#page1-icon{
    display: flex;
    justify-content: space-around;
    margin-right: 75%;
}
.page-icon{
    margin-right: 15px;
    padding: 5px;
    border-radius: 10px;
    color: blanchedalmond;
    cursor: pointer;
}
.page1-icon :hover{
    box-shadow: 0px 0px 8px 5px salmon;
    border-radius: 5px;
    transform: scale(0.9);
    padding: 5px;
}
#explore{
    margin-top: 15px;
    padding: 5px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 20px;
    border: 2px solid none;
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
    color: black;
    background: gainsboro;
}
#explore:hover{
    background-color: grey;
    color: maroon;
    transform: scale(0.9);
    transition: 0.5s ease;
}
#explore p{
    padding-bottom: 8px;
}
#explore img{
    padding-left: 10px;
}
#page1-box2{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#page1-box2 img{
    height: 350px;
    width: 350px;
    border-radius: 50%;
    box-shadow: 2px 7px 10px black;
}
#page2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    justify-content: center;
    text-align: center;
    background-color: teal;
    color: aliceblue;
}
#page2-image{
    justify-content: center;
    display: flex;
}
#page2-image img{
    height: 100px;
    width: 100px;
    margin-top: 100px;
    border-radius: 50%;
    border: solid snow;
}
#page2 h2{
    text-align: center;
    font-size: xx-large;
    font-weight: bolder;
}
#page2 p{
    margin-left: 15px;
    margin-right: 15px;
    font-family: sans-serif;
    line-height: 1.5;
}
#page2-icon{
    height: 35px;
    display: flex;
    justify-content: center;
    font-size: x-large;
    color: aquamarine;
    cursor: pointer;
}
.page2-icon :hover{
    transform: scale(0.9);
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0px 0px 8px 4px salmon;
}
.page2-icon a{
    text-decoration: none;
}
#page2-button{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.page2-button{
    text-align: center;
    padding: 15px;
    margin-right: 20px;
    border-radius: 20px;
    border: solid 2px rgb(36, 184, 184);
    width: 270px;
    font-weight: bolder;
    cursor: pointer;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
#page2-button2{
    background: aliceblue;
}
#page2-button1{
    background: transparent;
    color: burlywood;
}
#page2-button1:hover{
    color: black;
    background: aliceblue;
    transition: 0.5s ease;
    transform: scaleX(0.9);
}
#page2-button2:hover{
    color: burlywood;
    background-color: teal;
    transform: scaleX(0.9);
    transition: 0.5s ease;
}
#page3 {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: teal;
}
#page3-box{
    position: relative;
    width: 60%;
    height: 100%;
}
.page3-circle{
    position: absolute;
    width: 40%;
    height: 40%;
    border-radius: 50%;
    border: solid purple;
    box-shadow: 10px 10px 30px black;
    font-size: 10%;
}
.circle1-text{
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    width: 100%;
    font-size: 130%;
    padding-top: 25%;
}
.circle1-text h3{
    color: azure;
    text-decoration: overline blanchedalmond;
    padding-bottom: 5px;
}
.circle-text{
    padding-top: 10%;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}
.circle-h2{
    font-size: 25px;
}
.circle-p{
    padding-top: 8%;
}
.circle-btn{
    padding-top: 10%;
}
.page3-circle:hover{
    z-index: 6;
    height: 70%;
    width: 70%;
    cursor: pointer;
    font-size: 100%;
    transform: scale(0.5);
    transition: background-color 0.9s ease;
}
#page3-circle1{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 50%;
    background-color: cadetblue;
    z-index: 5;
    font-size: 100%;
}
#page3-circle1:hover{
    background-color: teal;
    color: purple;
}
#page3-circle2{
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    background-color: turquoise;
}
#page3-circle2:hover{
    background-color: teal;
}
#page3-circle3{
    top: 60%;
    left: 15%;
    transform: translateY(-50%);
    background-color: turquoise;
}
#page3-circle3:hover{
    background-color: teal;
}
#page3-circle4{
    top: 60%;
    right: 15%;
    transform: translateY(-50%);
    background-color: turquoise;
}
#page3-circle4:hover{
    background-color: teal;
}
#page4{
    height: 100%;
    width: 100%;
    color: rgb(12, 12, 115);
    background-color: teal;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.page4-box1{
    height: 70%;
    width: 90%;
    background-color: rgb(76, 145, 147);
    box-shadow: 5px 7px 10px rgb(4, 62, 62);
}
#page4-box2{
    height: 30%;
    width: 85%;
    margin-top: 10px;
    margin-left: 10%;
}
#box2-h2{
    text-decoration: underline aliceblue 2px ;
}
#box2-p{
    color: aliceblue;
}
#page4-box3{
    height: 60%;
    width: 97%;
    display: flex;
    /* align-items: flex-start; */
    padding: 20px;
    /* background-color: #007BFF; */
}
#box3-h2{
    padding-bottom: 2px;
}
#page4-box4{
    font-weight: bold;
    font-size: 20px;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    text-decoration: overline 2px rgb(214, 172, 64);
    text-underline-offset: 4px;
    margin-bottom: 12%;
}
#page4-box5{
    height: 90%;
    width: 95%;
}
#page4-box5A{
    /* margin-top: 0; */
    display: flex;
}
#page4-box5B{
    /* display: flex; */
    /* margin-top: 100px; */
}

.page4-box5{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8px;
    height: 90px;
    width: 75%;
    cursor: pointer;
    position: relative;
    transition: transform 0.7s ease;
    /* background-color: red; */
    margin-top: 80px;
}
.hover-text{
    color: white;
    display: none;
    height: 25px;
    width: 20%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    font-size: xx-large;
    /* background-color: orange; */
}
.page4-box5:hover{
    /* background-color: black; */
    transform: scale(1.1);
}
.page4-box5:hover .hover-text{
    display: block;
}
#box5-1, #box5-2 ,#box5-3, #box5-4{
    margin-top: 0px;
}
/* #box5-1{
    margin-left: 20%;
    top: 150%;
}
#box5-3, #box5-5, #box5-7{
    top: 150%;
}
#box5-2, #box5-4, #box5-6{
    top: -30%;
} */
/* #box5-1:hover{
    transform: scale(0.9);
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    border: solid 1px goldenrod;
} */
/* #hover-text1:hover{
    display: block;
    margin-top: 100%;
} */
/* #box5-2:hover{
    transform: scale(0.9);
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    border: solid 1px goldenrod;
} */
/* #hover-text2:hover{
    display: block;
    margin-top: 100%;
} */
/* #box5-3:hover{
    transform: scale(0.9);
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    border: solid 1px goldenrod;
} */
/* #hover-text3:hover{
    display: block;
    margin-top: 100%;
} */
/* #box5-4:hover{
    transform: scale(0.9);
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    border: solid 1px goldenrod;
} */
/* #hover-text4:hover{
    display: block;
    margin-top: 100%;
} */
/* #box5-5:hover{
    transform: scale(0.9);
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    border: solid 1px goldenrod;
} */
/* #hover-text5:hover{
    display: block;
    margin-top: 100%;
} */
/* #box5-6:hover{
    transform: scale(0.9);
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    border: solid 1px goldenrod;
} */
/* #hover-text6:hover{
    display: block;
    margin-top: 100%;
} */
/* #box5-7:hover{
    transform: scale(0.9);
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    border: solid 1px goldenrod;
} */
/* #hover-text7:hover{
    display: block;
    margin-top: 100%;
} */
#page5{
    background-color: teal;
    height: 100%;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
}
#project{
    height: 60%;
    width: 80%;
    text-align: center;
    margin-bottom: 30px;
} 
#project h2 {
    font-size: 3.5rem;
    margin-bottom: 30px;
    background: linear-gradient(to right, rgb(24, 22, 22), skyblue);
    -webkit-background-clip: text;
    text-shadow: 2px 5px 8px white;
}
.project-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    height: 80%;
    width: 90%;
    margin: 0 auto;
} 
.projects {
    background-color: rgba(0, 0, 0, 0.7);
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 2px 1px gainsboro;
    text-align: left;
    align-items: center;
    justify-content: center;
    display: flex;
    transition: transform 0.5s ease;
} 
.projects:hover{
    box-shadow: 0px 1px 3px 7px black;
    transform: scale(0.90);
    background-color: transparent;
}
#project-1{
    background-image: url(sales.jpeg);
    background-size: 100% 100%;
}
#project-2{
    background-image: url(yoga1.jpeg);
    background-size: 100% 100%;
}
.projects h3 {
    font-size: 1.8rem;
    margin-bottom: 15px;
} 
.projects a {
    font-size: 13px;
    color: #007BFF;
    text-decoration: none;
    font-weight: bold;
    padding: 8px;
    border: solid goldenrod;
    border-radius: 6px;
    margin-bottom: 10px;
    margin-left: 5px;
    width: 120px;
    align-items: center;
    justify-content: center;
    display: flex;
} 
.projects img{
    margin-left: 6px;
}
.projects a:hover {
    background-color: teal;
    color: black;
    border:black solid;
    transition: background-color 0.5s ease, color 0.5s ease-in;
} 
#page6{
    height: 100%;
    width: 100%;
    background-color: lightgrey;
    color: aliceblue;
    background-color: teal;
}
#page6-box1{
    height: 15%;
    width: 100%;
    text-align: center;
    padding: 20px;
}
#box1-h3{
    margin-top: 6%;
    color: rgb(98, 209, 209);
}
#box1-h1{
    margin-top: 5px;
}
#page6-box2{
    height: 60%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.page6-p{
    color:  rgb(98, 209, 209);
}
#page6-box3{
    height: 100%;
    width: 35%;
    margin-top: 15%;
    margin-left: 15%;
}
#box3-h2{
    font-family: 'Times New Roman', Times, serif;
    text-align: left;
    padding-bottom: 10px;
}
form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 30%;
    height: 100%;
    margin-top: 15%;
}
form input, form textarea {
    padding: 10px;
    margin-bottom: 10px;
    border: solid rgb(93, 225, 225);
    border-radius: 5px;
}
form textarea{
    height: 70px;
}
form button {
    padding: 15px;
    border-radius: 10px;
    border: none;
    width: 150px;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    background-color: rgb(154, 152, 152);
    justify-content: center;
}
#form-button{
    display: flex;
    justify-content: flex-end;
}
form button:hover {
    background: teal;
    cursor: pointer;
    color: black;
    border-style: inset;
}

